@charset "UTF-8";

body.hide {
	overflow: hidden;
}

.fullImageWrap {
	display: inline-block;
	cursor: pointer;
}

.fullImageWrap.fullImageWrapActive {
	z-index: 9001;
	position: fixed;
	top: 0;
	left: 0;
}

.fullImageWrap img {
	vertical-align: middle;
}